{% extends "partials/base.html" %} {% block header %}HTML Küçültme Aracı
{% endblock header %} {% block content %}

<div class="card">
  <div class="card-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="html"
          ><svg
            class="svg-inline--fa fa-html5 fa-fw fa-sm text-muted mr-1"
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="html5"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              fill="currentColor"
              d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"
            ></path>
          </svg>
          HTML</label
        >
        {{form}}
      </div>

      <button type="submit" name="submit" class="btn btn-block btn-primary">
        Gönder
      </button>
    </form>
  </div>
</div>

{% if click %}
<div class="mt-4">
  <div class="table-responsive table-custom-container">
    <table class="table table-custom">
      <tbody>
        <tr>
          <td class="font-weight-bold">HTML Karakterleri</td>
          <td class="text-nowrap text-success">{{original_length}}</td>
        </tr>

        <tr>
          <td class="font-weight-bold">Küçültülmüş HTML Karakterleri</td>
          <td class="text-nowrap text-success">{{minified_length}} ({{saved_ratio}}%)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-4">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="d-flex justify-content-between align-items-center">
          <label for="result">Küçültülmüş HTML</label>
          <div>
            <button
              type="button"
              class="btn btn-link text-secondary"
              data-toggle="tooltip"
              title=""
              aria-label="Panoya Kopyala"
              data-copy="Panoya Kopyala"
              data-copied="Kopyalandı!"
              data-clipboard-target="#result"
              data-clipboard-text=""
              data-original-title="Panoya Kopyala"
            >
              <svg
                class="svg-inline--fa fa-copy fa-fw fa-sm"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="copy"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"
                ></path></svg
              >
            </button>
          </div>
        </div>
        <textarea id="result" class="form-control">{{minified_html}}</textarea>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% endblock content %} {% block cardContent %}HTML küçültme aracı ile tüm
gereksiz karakterleri ve kodları kaldırarak HTML'nizi küçültün.
{% endblock cardContent %}
