{% extends "partials/base.html" %} 

{% block header %}İnternet Sağlayıcı Sorgulama{% endblock header %}


{% block content %}
<div class="card">
  <div class="card-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="ip"
          ><svg
            class="svg-inline--fa fa-magnifying-glass-location fa-fw fa-sm text-muted mr-1"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="magnifying-glass-location"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM288 176c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 48.8 46.5 111.6 68.6 138.6c6 7.3 16.8 7.3 22.7 0c22.1-27 68.6-89.8 68.6-138.6zm-112 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
            ></path></svg
          ><!-- <i class="fas fa-fw fa-search-location fa-sm text-muted mr-1"></i> Font Awesome fontawesome.com -->
          IP</label
        >
        {{ form.as_p }}
      </div>
      {% if error_message %}
      <div class="mb-3 text-danger">
        Verdiğiniz IP için herhangi bir ayrıntı alamadık.
      </div>
      {% endif %}

      <button type="submit" name="submit" class="btn btn-block btn-primary">
        Gönder
      </button>
    </form>
  </div>
</div>

<div
  class="mt-4 {% if not error_message and data %}d-visible {% else %}d-none {% endif %}"
>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="d-flex justify-content-between align-items-center">
          <label for="result">Sonuçlar</label>
          <div>
            <button
              type="button"
              class="btn btn-link text-secondary"
              data-toggle="tooltip"
              title=""
              aria-label="Panoya Kopyala"
              data-copy="Panoya Kopyala"
              data-copied="Kopyalandı!"
              data-clipboard-target="#result"
              data-clipboard-text=""
              data-original-title="Panoya Kopyala"
            >
              <svg
                class="svg-inline--fa fa-copy fa-fw fa-sm"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="copy"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                data-fa-i2svg=""
              >
                <path
                  fill="currentColor"
                  d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"
                ></path></svg
              ><!-- <i class="fas fa-fw fa-sm fa-copy"></i> Font Awesome fontawesome.com -->
            </button>
          </div>
        </div>
        <textarea id="result" class="form-control">{{isp}}</textarea>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block cardContent %}Bir IP adresi yazın ve o ip adresinin hangi internet sağlayıcı firma tarafından sağlandığını sorgulayın.{% endblock cardContent %}