{% extends "partials/base.html" %} 

{% block header %}Parola Güvenlik Kontrol Aracı{% endblock header %}


{% block content %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var passwordInput = document.getElementById("id_password");
    passwordInput.addEventListener("input", checkPasswordStrength);
  });

  function checkPasswordStrength() {
    var password = document.getElementById("id_password").value;
    var characters = document.getElementById("characters");
    var strength = document.getElementById("strength");

    // Karakter sayısını ve güç durumunu kontrol et
    var characterCount = password.length;
    var strengthLevel = "Veri Yok";
    if (characterCount > 0) {
      strengthLevel = calculatePasswordStrength(password);
    }

    // Tablodaki değerleri güncelle
    characters.innerText = characterCount;
    strength.innerText = strengthLevel;

    // Güç seviyesine göre renk ataması yap
    if (
      strengthLevel.includes("Zayıf") ||
      strengthLevel.includes("Çok Zayıf")
    ) {
      strength.style.color = "red";
    } else if (strengthLevel.includes("Orta")) {
      strength.style.color = "orange";
    } else if (
      strengthLevel.includes("Güçlü") ||
      strengthLevel.includes("Çok Güçlü")
    ) {
      strength.style.color = "green";
    } else {
      strength.style.color = "black"; // Varsayılan renk
    }
  }

  function calculatePasswordStrength(password) {
    // Parola gücünü hesaplama algoritması
    var strength = 0;
    if (password.length >= 8) {
      strength += 1;
    }
    if (password.match(/[a-z]+/)) {
      strength += 1;
    }
    if (password.match(/[A-Z]+/)) {
      strength += 1;
    }
    if (password.match(/[0-9]+/)) {
      strength += 1;
    }
    if (password.match(/[$&+,:;=?@#|'<>.^*()%!-]+/)) {
      strength += 1;
    }

    // Güç durumunu metin olarak dön
    switch (strength) {
      case 0:
        return "Çok Zayıf";
      case 1:
        return "Zayıf";
      case 2:
        return "Orta";
      case 3:
        return "Güçlü";
      case 4:
        return "Çok Güçlü";
      default:
        return "Bilinmeyen";
    }
  }
</script>


<div class="card">
  <div class="card-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="password"
          ><svg
            class="svg-inline--fa fa-key fa-fw fa-sm text-muted mr-1"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="key"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"
            ></path></svg
          ><!-- <i class="fas fa-fw fa-key fa-sm text-muted mr-1"></i> Font Awesome fontawesome.com -->
          Parola</label
        >
        {{form.as_p}}
      </div>
    </form>
  </div>
</div>

<div class="mt-4">
  <div class="table-responsive table-custom-container">
    <table class="table table-custom">
      <tbody>
        <tr>
          <td class="font-weight-bold">Karakter</td>
          <td class="text-nowrap">
            <span id="characters">0</span>
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">Güç</td>
          <td class="text-nowrap">
            <span id="strength">Veri Yok</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock content %}


{% block cardContent %}Parolalarınızın yeterince iyi olduğundan emin olun. Parola güç kontrol aracı
ile şifrelerinizin ne kadar güvenli ve güçlü olduğunu öğrenin.{% endblock cardContent %}