{% extends "partials/base.html" %} 


  {% block header %}Whois Sorgulama{% endblock header %}

  {% block content %}
  <div class="card">
    <div class="card-body">
      <form action="" method="post" role="form">
        {% csrf_token %}

        <div class="form-group">
          <label for="domain"
            ><svg
              class="svg-inline--fa fa-network-wired fa-fw fa-sm text-muted mr-1"
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="network-wired"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M256 64H384v64H256V64zM240 0c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h48v32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96v32H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48H240c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H192V288H448v32H400c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48H560c26.5 0 48-21.5 48-48V368c0-26.5-21.5-48-48-48H512V288h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V192h48c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H240zM96 448V384H224v64H96zm320-64H544v64H416V384z"
              ></path></svg
            ><!-- <i class="fas fa-fw fa-network-wired fa-sm text-muted mr-1"></i> Font Awesome fontawesome.com -->
            Alan adı</label
          >
          {{form.as_p}}
        </div>
        {% if status == null and domain_name != null %}
        <div class="mb-3 text-danger">
          Belirtilen alan adınız için herhangi bir ayrıntı alamadık.
        </div>
        {% endif %}
        <button type="submit" name="submit" class="btn btn-block btn-primary">
          Gönder
        </button>
      </form>
    </div>
  </div>

  <div class="mt-4 {% if not error_message and status != null %}d-visible {% else %}d-none {% endif %}">
    <div class="table-responsive table-custom-container">
      <table class="table table-custom">
        <tbody>
          <tr>
            <td class="font-weight-bold">Kaydeden</td>
            <td class="text-nowrap">{{owner}}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Kayıt Tarihi</td>
            <td class="text-nowrap">{{creation_date}}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Güncelleme Tarihi</td>
            <td class="text-nowrap">{{updated_date}}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Bitiş Tarihi</td>
            <td class="text-nowrap">{{expiration_date}}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Nameserver Adresleri</td>
            <td class="text-nowrap">
              <div class="d-flex flex-column">
                {% for name_server in name_servers %}
                <div>{{name_server}}</div>
                {% endfor %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}

{% block cardContent %}Whois sorgulama aracı ile bir alan adı hakkında tüm detayları öğrenin.
Alan adının kime ait olduğunu, hangi isim sunucularına yönlendirildiği,
kayıt ve bitiş tarihi gibi detayları sorgulayın.{% endblock cardContent %}