{% extends "partials/base.html" %} {% block header %}Sayıdan Kelimeye Çeviri 
{% endblock header %} {% block content %}

<div class="card">
  <div class="card-body">
    <form action="" method="post" role="form">
      {% csrf_token %}

      <div class="form-group">
        <label for="number"
          ><svg
            class="svg-inline--fa fa-arrow-up-9-1 fa-fw fa-sm text-muted mr-1"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="arrow-up-9-1"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              fill="currentColor"
              d="M160 32c9 0 17.5 3.8 23.6 10.4l88 96c11.9 13 11.1 33.3-2 45.2s-33.3 11.1-45.2-2L192 146.3V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V146.3L95.6 181.6c-11.9 13-32.2 13.9-45.2 2s-13.9-32.2-2-45.2l88-96C142.5 35.8 151 32 160 32zM450.7 294c8.3 6 13.3 15.7 13.3 26v96h16c17.7 0 32 14.3 32 32s-14.3 32-32 32H432 384c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V364.4l-5.9 2c-16.8 5.6-34.9-3.5-40.5-20.2s3.5-34.9 20.2-40.5l48-16c9.8-3.3 20.5-1.6 28.8 4.4zm-5-145.1A32 32 0 1 0 418.3 91a32 32 0 1 0 27.4 57.9zm-40.7 54.9C369.6 192.4 344 159.2 344 120c0-48.6 39.4-88 88-88s88 39.4 88 88c0 23.5-7.5 46.3-21.5 65.2L449.7 251c-10.5 14.2-30.6 17.2-44.8 6.7s-17.2-30.6-6.7-44.8l6.8-9.2z"
            ></path>
          </svg>
          Sayı</label
        >
        {{form.number}}
      </div>

      <div class="form-group">
        <label for="language"
          ><svg
            class="svg-inline--fa fa-language fa-fw fa-sm text-muted mr-1"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="language"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              fill="currentColor"
              d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"
            ></path></svg
          >Dil</label
        >

        {{form.language}}
      </div>

      <button type="submit" name="submit" class="btn btn-block btn-primary">
        Gönder
      </button>
    </form>
  </div>
</div>

{% if click%}

<div class="mt-4">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <div class="d-flex justify-content-between align-items-center">
          <label for="result">Sonuçlar</label>
          <div>
            <button
              type="button"
              class="btn btn-link text-secondary"
              data-toggle="tooltip"
              title=""
              aria-label="Panoya Kopyala"
              data-copy="Panoya Kopyala"
              data-copied="Kopyalandı!"
              data-clipboard-target="#result"
              data-clipboard-text=""
              data-original-title="Panoya Kopyala"
            >
              <svg
                class="svg-inline--fa fa-copy fa-fw fa-sm"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="copy"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"
                ></path></svg
              >
            </button>
          </div>
        </div>
        <textarea id="result" class="form-control">
{{written_number}}</textarea
        >
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock content %} {% block cardContent %}Bir sayıyı yazılı,
hecelenmiş kelimelere dönüştürün. {% endblock cardContent %}
